{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Login</title>

</head>

<body>

<div class="container mt-5">

    <h1>Login</h1>

    <input type="text"
           id="username"
           placeholder="Username"
           class="form-control mb-3">

    <input type="password"
           id="password"
           placeholder="Password"
           class="form-control mb-3">

    <button onclick="loginUser()"
            class="btn btn-dark">
        Login
    </button>

</div>

<script src="{% static 'js/login.js' %}"></script>

</body>
</html>